@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

h2, h3, h4, .pub {
	font-family: 'Noto Sans', sans-serif;
	letter-spacing: -1px;
}

.lettre {
	letter-spacing: normal;
}

li ul {
	display: none;
}

li:hover ul {
	display: block;
}

.dropdown-menu {
	opacity: .89;
}

.dropdown-item:hover, .btn-light:hover {
	background-color: #212529;
	color: #fff;
}

.btn-light {
	background-color: #fff;
}

